<!DOCTYPE html>
<html>
<head>
	<title>Complaint Triage App</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning Application- MSDS 434
		</div>
		<h2>Input a complaint to have it categorized</h2>

	</div>
	</header>

	<div class="ml-container">



	</div>




</body>
</html>